
*{
    padding:0;
    margin:0;
 
    }
    body{
    background:url(https://cdn.discover-the-world.com/app/uploads/2020/05/south-west-iceland-seljalandsfoss-pink-sky-robert-lukeman-unsplash-800x0-c-default.jpg);
    background-size:cover;    
    background-repeat: no-repeat;
    
    
    }
    #LogoText {text-align: center;} 
    #Logo {
    width:80%;
    height:10vh;
    background-color:#ffffff;
    margin-top:3%;
    margin-bottom:2%;
    margin-left:10%;
    margin-right:4%;
    opacity: 85% ;
    font-size: 150%;
    }
    #Header {
    width:80%;
    height:30vh;
    background-color:#ffffff;
    background-image: url("https://lh3.googleusercontent.com/proxy/cEcxi94iujKhNzJw02f66-koASocfbX-fw41ElLxAr2XxwmfSaWgSbR7mtcvHv0ucQFEwqoQzjTL6nyxBg2S7DhP3gJeyLE38HJ9N1J_KH3Sk45bHvOWcbBZ5mHHmhO36xE");
    background-size: cover;
    text-align: center;
    float:left;
    margin-top:1%;
    margin-bottom:2%;
    margin-left:10%;
    margin-right:4%;
    opacity: 85% ;
    }
    #TextArea {
    width:80%;
    height:170vh;
    background-color:#ffffff;
    text-align: center;
    float:left;
    margin-top:1%;
    margin-bottom:2%;
    margin-left:10%;
    margin-right:4%;
    opacity: 85% ;
    font-size: 125%;
    }
    
    p
    {
        margin-left: 125px;
        margin-right: 125px;
    }