*{
    padding:0;
    margin:0;

        }
    #div1 {
        width:85%;
        height:20%;
        background-color:#45af53;
        opacity:85%;
        margin-top:2%;
        margin-bottom:3%;
        margin-left:6%;
        margin-right:4%;
        font-size: 250%;
        text-align: center;

    }

    #Header {
        width:96%;
        height:35%;
        background-color:#eb8f34;
        text-align: center;
        float:left;
        background-image: url("");
        background-size: 100% 101%;
   
        background-repeat: no-repeat;
        
        margin-bottom:2%;
        margin-left:2%;
        margin-right:4%;
    }
   
    #Introduction {
        width:96%;
        height:100%;
        background-color:#344ceb;
        text-align: center;
        float:left;
        opacity:85%;
        margin-bottom:1%;
        margin-left:2%;
        margin-right:4%;
        
    }