*{
    padding:0;
    margin:0;

        }
    body{
        background:url(https://images.unsplash.com/photo-1613182454978-e59ca9ab3adf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
        background-size:cover;    
        background-repeat:no-repeat;
        background-position: center;
        }
    
    #div1 {
        width:85%;
        height:20%;
        background-color:white;
        opacity:85%;
        margin-top:2%;
        margin-bottom:3%;
        margin-left:6%; 
        margin-right:4%;
        font-size: 250%;
        text-align: center;

    }

    #Header {
        width:96%;
        height:80%;
        background-color:#eb8f34;
        text-align: center;
        float:left;
        background-image: url("https://images.unsplash.com/photo-1621739165914-7155e5d4816e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-bottom:2%;
        margin-left:2%;
        margin-right:4%;
    }
   
    #Introduction {
        width:96%;
        height:130%;
        background-color:#344ceb;
        background-image: url("https://images.unsplash.com/photo-1629824235585-d71b346fe183?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        float:left;
        opacity:85%;
        margin-bottom:1%;
        margin-left:2%;
        margin-right:4%;
        
    }